cat > ~/vmware/macOS-Dev/config.plist << 'EOF'
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-v keepsyms=1 debug=0x100 slide=0 -no_compat_check</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Log</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<false/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1280x720</string>
		<key>Theme</key>
		<string>embedded</string>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>2560x1440</string>
		<key>CsrActiveConfig</key>
		<string>0x3</string>
	</dict>
	<key>SMBIOS</key>
		<dict>
    		<key>Trust</key>
    		<false/>
    		<key>ProductName</key>
    		<string>MacPro7,1</string>
    		<key>SerialNumber</key>
    		<string>F5KF2NZWP7QM</string>
    		<key>BoardSerialNumber</key>
    		<string>F5K101500GUK3F71M</string>
    		<key>SmUUID</key>
    		<string>c7272847-a46d-4ffc-b8a6-003bfd893b7c</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<true/>
		<key>InjectSystemID</key>
		<true/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
    		<key>AppleIntelCPUPM</key>
    		<false/>
    		<key>KernelPm</key>
    		<false/>
	</dict>
</plist>
EOF
